<h2>Contact Reactive Form</h2>

<form (ngSubmit)="submitForm()" [formGroup]="contactForm" novalidate>
  <div class="form-content">
    <label>
      Name:
      <input type="text" formControlName="name" class="sd-form-control" placeholder="Enter your name.">
    </label>
    <label>
      Email:
      <input type="email" formControlName="email" class="sd-form-control" placeholder="Enter your email.">
    </label>
    <label>
      List:
      <ul formArrayName="list" *ngFor="let item of contactForm.get('list').controls; let i=index">
        <span [formGroupName]="i">
            <input type="text" formControlName="name" class="sd-form-control">
            <input type="text" formControlName="value" class="sd-form-control">
        </span>
      </ul>
    </label>
    <div class="form-submit">
      <button type="button" (click)="add()">Add</button>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>

<div class="form-value">
  Form value:
  <pre>
    {{contactForm.value | json}}
  </pre>
  <p>
    Status: {{contactForm.status}}
  </p>
  <p>
    Valid: {{contactForm.valid}}
  </p>
  <p>Submit then open console to see full form.</p>
</div>

